.edit-tests-selector {
  margin: 60px auto;

  .edit-tests-placeholder {
    display: flex;
    margin: 150px 100px;
  }

  .edit-tests-selector-text {
    max-width: 600px;
    text-align: left;
    font-size: 46px;
  }

  @media screen and (max-width: 380px) {
    .edit-tests-placeholder {
      flex-wrap: wrap;
      margin: 0;
      justify-content: center;
      align-items: center;

      .edit-tests-selector-text {
        font-size: 26px;
        margin: 30px 20px;
        padding: 10px 20px;
      }

      .picture {
        width: 200px;
        margin-top: 30px;
      }
    }
  }
}
