.admin-modal-w-warning {
  width: 420px;
  height: 140px;

  .warning-question {
    padding-top: 3%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: left;
  }

  .choice-buttons {
    padding-top: 12%;
    padding-left: 42%;

    .MuiButtonBase-root {
      width: 110px;
      height: 25px;
      margin-right: 10px;
    }
  }
}
