html {
  height: 100%;

  .wrapper::after {
    content: "";
    background: url('../../assets/images/backgroundLogin/britain.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  .loginRow {
    width: 27%;
    margin: 8% auto;

    .logo {
      width: 60%;
    }
  }
}
