.AdminDistribution {
  .paper {
    margin-top: 40px;
  }

  .MuiPaper-rounded {
    width: 1275px;
  }

  .MuiTableCell-sizeSmall {
    padding: 5px 0;
  }

  .MuiTableCell-sizeSmall:last-child {
    padding-right: 50px;
  }

  .headItems {
    font-weight: bold;
  }

  .MuiOutlinedInput-input {
    padding: 0;
    padding-left: 21px;
  }

  .selectCoachNames {
    min-width: 345px;
    min-height: 30px;
    max-height: 30px;
  }

  .MuiSelect-root {
    background-color: rgba(255, 255, 255, 0);
  }

  .buttonAssign {
    max-height: 25px;
    min-width: 127px;
    font-weight: bold;
    color: var(--color-button-assign);
    background-color: var(--background-button-assign);
    border-color: #3e6dd7;
  }

  .buttonDeassign {
    min-width: 127px;
    max-height: 25px;
    color: var(--color-button-deassign);
    background-color: var(--background-button-deassign);
    border-color: #828282;
    font-weight: bold;
  }

  .buttonDeassign:hover {
    background-color: #7a7a7a18;
    border-color: #3a3a3a;
  }

  .selectCoachNames--disabled {
    color: #828282;
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
  }

  .selectCoachNames--disabled:focus {
    background-color: rgba(255, 255, 255, 0);
  }

  .MuiButtonBase-root.Mui-disabled {
    background-color: rgba(255, 255, 255, 0);
  }
}
