.AdminDistribution {
  .paper {
    margin-top: 40px;
  }

  .headItems {
    font-weight: bold;
  }

  .MuiOutlinedInput-input {
    padding: 0;
    padding-left: 21px;
  }

  .selectCoachNames {
    min-width: 345px;
    min-height: 30px;
    max-height: 30px;
  }

  .buttonAssign {
    min-width: 127px;
    font-weight: bold;
  }

  .buttonDeassign {
    min-width: 127px;
    color: black;
    border-color: #828282;
    font-weight: bold;
  }

  .buttonDeassign:hover {
    background-color: #7a7a7a18;
    border-color: #3a3a3a;
  }

  .selectCoachNames--disabled {
    color: #828282;
    pointer-events: none;
  }

  .selectCoachNames--disabled:focus {
    background-color: rgba(255, 255, 255, 0);
  }
}
