.speaking-step {
  .microphone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 60px;
    border-radius: 50%;
    cursor: pointer;
  }

  .speaking-topic {
    font-size: 24px;
    padding-top: 15px;
  }

  .invisible-button {
    display: none;
  }

  .audio-speaking-timer {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 9px;
  }

  .microphone-item {
    fill: #fff;
    margin: 0 auto;
  }

  .player-speaking {
    width: 66%;
    margin: 0 16.9%;
  }

  .report-mistake {
    font-size: 12px;
    color: #828282;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 55px;
  }

  .report-mistake:hover {
    text-decoration: underline;
  }

  @media only screen and (max-width: 800px) {
    .player-speaking {
      width: 90%;
      margin: 0 5%;
    }
  }
}
