.speaking-step {
  .microphone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 60px;
    border-radius: 50%;
    cursor: pointer;
  }

  .speaking-topic {
    font-size: 24px;
    padding-top: 15px;
  }

  .invisible-button {
    display: none;
  }

  .audio-speaking-timer {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 9px;
  }

  .microphone-item {
    fill: #fff;
    margin: 0 auto;
  }

  .player-speaking {
    width: 66%;
    margin: 0 16.9%;
  }

  .report-mistake {
    font-size: 12px;
    color: #828282;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 55px;
  }

  .report-mistake:hover {
    text-decoration: underline;
  }

  .wave{
    background-color: #57d0ff; 
    animation: wave 2s linear infinite;
    box-shadow: 0px 0px 20px #57d0ff; 
    border-radius: 50%;
  } 

  @keyframes wave {
    0% {
      box-shadow: 0px 0px 20px #57d0ff; 
    }
    50% {
      box-shadow: 0px 0px 10px #57d0ff; 
    }
    100% {
      box-shadow: 0px 0px 20px #57d0ff; 
      transform: rotate(360deg);
    }
  }
}
