.edit-tests-data-wrapper {
  display: flex;
  margin: 60px 0;
  flex-direction: column;
  text-align: left;

  .tableRowHeading {
    font-weight: 700;
  }

  .btn-add-question {
    align-self: flex-end;
    width: 180px;
    height: 40px;
    margin: 20px 0 40px;
  }

  .archiveBtn {
    font-size: 2.4em;
    cursor: pointer;
  }
}
