.modal-warning-archive {
  width: 440px;
  height: 85px;

  .text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: left;
    margin-top: 25px;
  }

  .btn {
    padding-top: 40px;
    padding-left: 200px;

    .MuiButton-root {
      height: 25px;
      width: 110px;
      margin-left: 10px;
    }
  }
}
