.report-mistake-modal {
  width: 949px;
  height: 391px;

  .report-header {
    font-size: 18px;
    text-align: center;
  }

  .level-module-info {
    font-size: 16px;
    color: #828282;
    margin-left: 5%;
    margin-top: 30px;
    margin-bottom: 10px;

    .level-info {
      margin-right: 2%;
    }
  }

  .selector-wrapper {
    .question-selector {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
    }
  }

  .add-question-to-report {
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #828282;
    cursor: pointer;
  }

  .add-question-to-report:hover {
    text-decoration: underline;
  }

  .report-textfield-wrapper {
    margin-left: 5%;
    margin-bottom: 20px;

    .report-textfield {
      width: 95%;

      .report-textfield-label {
        color: #828282;
        font-size: 14px;
      }
    }
  }

  .report-mistake-buttons-wrapper {
    margin-left: 70%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
    height: 30px;

    .delete-button {
      width: 110px;
      box-shadow: none;
    }

    .report-button {
      width: 110px;
      box-shadow: none;
    }
  }
}

@media only screen and (max-width: 800px) {
  .report-mistake-modal {
    width: 300px;
    height: 300px;

    .report-header {
      font-size: 12px;
    }

    .level-module-info {
      font-size: 12px;
      margin-left: 5%;
      margin-top: 5px;
      margin-bottom: 2px;
      padding-bottom: 3px;
    }

    .add-question-to-report {
      font-size: 15px;
    }

    .selector-wrapper {
      .report-textfield-wrapper {
        margin-left: 5%;
        margin-bottom: 5px;

        .report-textfield {
          .report-textfield-label {
            font-size: 10px;
          }
        }
      }
    }

    .report-mistake-buttons-wrapper {
      margin-left: 50%;
      margin-right: 5%;
      height: 20px;

      .delete-button,
      .report-button {
        width: 30px;
      }
    }
  }
}
