.close-icon-wrapper {
  height: 38px;
  display: block;
  position: relative;

  .close-icon {
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 800px) {
  .close-icon-wrapper {
    height: 15px;

    .close-icon {
      right: 10px;
      width: 15px;
      height: 15px;
    }
  }
}
