body {
  .button-wide {
    width: 180px;
  }

  .button-standard {
    min-width: 110px;
    padding: 0 5px;
    font-size: 13px;
  }

  .button-narrow {
    width: 40px;
  }

  .MuiButtonBase-root {
    &.MuiButton-containedPrimary {
      background-color: var(--primary-color);
      color: var(--font-color-secondary);

      &:hover {
        background-color: rgba(var(--primary-color-rgb), 0.8);
      }

      &.Mui-disabled {
        color: var(--font-color-primary);
        background-color: rgba(var(--border-color), 0.5);
      }
    }

    &.MuiButton-outlinedPrimary {
      border-color: var(--primary-color);
      color: var(--primary-color);

      &:hover {
        border-color: var(--primary-color);
        background-color: rgba(var(--primary-color-rgb), 0.1);
      }

      &.Mui-disabled {
        color: var(--font-color-primary);
        background-color: rgba(var(--border-color), 0.5);
      }
    }

    &.MuiButton-containedSecondary {
      background-color: var(--secondary-color);
      color: var(--font-color-secondary);

      &:hover {
        background-color: rgba(var(--primary-color-rgb), 0.8);
      }

      &.Mui-disabled {
        color: var(--font-color-primary);
        background-color: rgba(var(--border-color), 0.5);
      }
    }

    &.MuiButton-outlinedSecondary {
      border-color: var(--secondary-color);
      color: var(--secondary-color);

      &:hover {
        border-color: var(--secondary-color);
        background-color: rgba(var(secondary-color-rgb), 0.1);
      }

      &.Mui-disabled {
        color: var(--font-color-primary);
        background-color: rgba(var(--border-color), 0.5);
      }
    }
  }
}
