/* stylelint-disable no-descending-specificity */

body[theme='light'] {
  --base-color: #fff;
  --base-color-elevation: #fff;
  --primary-color: #3e6dd7;
  --primary-color-rgb: 62, 109, 215;
  --secondary-color: #828282;
  --notifications-color: #6fff97;
  --icons-color: #000;
  --font-color-primary: #000;
  --font-color-secondary: #fff;
  --border-color: 189, 189, 189;
}

body[theme='dark'] {
  --base-color: #22272e;
  --base-color-elevation: #30363d;
  --primary-color: #3e6dd7;
  --primary-color-rgb: 62, 109, 215;
  --secondary-color: #828282;
  --notifications-color: #6fff97;
  --icons-color: #fff;
  --font-color-primary: #adb6c3;
  --font-color-secondary: #fff;
  --border-color: 189, 189, 189;
}

body {

  // font color

  color: var(--font-color-primary);

  .font-primary {
    color: var(--font-color-primary);
  }

  .font-secondary {
    color: var(--font-color-secondary);
  }

  .font-color {
    color: var(--primary-color);
  }

  .bold {
    font-weight: bold;
  }

  // background color

  .base-color {
    background-color: var(--base-color);
  }

  .base-color-elevated {
    background-color: var(--base-color-elevation);
  }

  // buttons color

  .primary-contained {
    background-color: var(--primary-color);
    color: var(--font-color-secondary);

    &:hover {
      background-color: rgba(var(--primary-color-rgb), 0.8);
    }
  }

  .primary-outlined {
    border-color: var(--primary-color);
    color: var(--primary-color);
  }

  .secondary-contained {
    border-color: var(--secondary-color);
    color: var(--base-color);
  }

  .secondary-outlined {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
  }

  // icons color

  .icons-color {
    fill: var(--icons-color);
  }

  .notifications-color {
    background-color: var(--notifications-color);
  }

  // misc

  .theme-wrapper {
    :hover .MuiInputLabel-root {
      &.Mui-focused {
        color: var(--primary-color);
      }
    }

    .MuiSelect-icon {
      fill: var(--icons-color);
    }

    .MuiOutlinedInput-notchedOutline {
      border-color: var(--secondary-color);
    }

    :hover .MuiOutlinedInput-notchedOutline {
      border-color: var(--secondary-color);
    }

    :hover .MuiFormLabel-root {
      &.Mui-focused {
        color: var(--primary-color);
      }
    }

    .MuiSwitch-root {
      .MuiSwitch-switchBase {
        color: var(--primary-color);
      }

      .Mui-checked {
        color: var(--primary-color);
      }

      .MuiSwitch-track {
        background-color: var(--primary-color);
      }
    }
  }

  .MuiPaper-root {
    background-color: var(--base-color);

    &.MuiPaper-elevation1 {
      border-bottom: 1px solid rgba(var(--border-color), 0.5);
    }

    &.MuiPaper-elevation2 {
      background-color: var(--base-color-elevation);
      border: 1px solid rgba(var(--border-color), 0.5);
    }
  }

  .MuiDivider-root {
    background-color: rgba(var(--border-color), 0.5);
  }
}
