.essayTopic {
  font-size: 24px;
  padding-top: 15px;
}

.essayInput {
  width: 66%;
  min-height: 220px;
  border: 1px solid #bdbdbd;
  margin-top: 20px;
  resize: none;
  box-sizing: border-box;
}

.essayCount {
  width: 66%;
  color: #828282;
  font-size: 12px;
  margin-top: 8px;
  margin-bottom: 30px;
  margin-left: 17%;
  text-align: right;
}
