.essay-topic {
  font-size: 24px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.essay-input {
  width: 66%;
}

.essay-characters {
  width: 66%;
  color: #828282;
  font-size: 12px;
  margin-top: 8px;
  margin-left: 17%;
  text-align: right;
}
