.loginForm {
  width: 100%;
  margin: 20px auto 0;

  .fieldsWrapper {
    margin: 8px auto;
  }

  .textFields {
    width: 100%;
    height: 60px;
    margin: 1% 0;
    border: none;
  }

  .logIn {
    background-color: #3e6dd7;
    width: 100%;
    height: 50px;
    font-size: 18px;
  }

  .lang {
    margin-top: 30px;
    font-size: 24px;

    .enRu {
      margin: 0 5px 0;
      cursor: pointer;
    }

    .enRu:hover {
      color: #383838;
    }
  }
}
