.loginForm {
  width: 100%;
  margin: 30px auto 0;

  .fieldsWrapper {
    margin: 8px auto;
  }

  .textFields {
    width: 100%;
    height: 60px;
    margin: 1% 0;
    border-radius: 4px;
    border: none;

    input {
      padding: 20.5px 14px;
    }

    fieldset {
      border: none;
    }
  }

  .loginButton {
    width: 100%;
    height: 50px;
    font-size: 18px;
    box-shadow: none;
  }

  .langSwitcher {
    margin-top: 30px;
    font-size: 24px;

    .langItem {
      margin: 0 5px 0;
      cursor: pointer;
    }

    .langItem:hover {
      color: #383838;
    }
  }
}
