.modal {
  width: fit-content;
  block-size: fit-content;
  min-width: 440px;
  min-height: 126px;
  background-color: white;
}

.modalMain {
  display: flex;
  justify-content: center;
  align-items: center;
}
