.result-header {
  width: 100%;
  height: 28px;
  font-size: 24px;
  color: var(--font-color-primary);
  text-align: center;
  margin: 30px auto;
  padding-top: 40px;
}

.result-body {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 500px;
  justify-items: center;
  align-items: center;
  margin: 0 auto 0 auto;
  padding-top: 100px;

  .res-red-under-five {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #eb575733;
    border: 5px solid #eb575733;
    border-right: 5px solid #eb5757;

    .result {
      text-align: center;
      padding-top: 20px;
    }
  }

  .res-red-five {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #eb575733;
    border: 5px solid #eb575733;
    border-right: 5px solid #eb5757;
    border-bottom: 5px solid #eb5757;

    .result {
      text-align: center;
      padding-top: 20px;
    }
  }

  .res-blue-upper-five {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #21965333;
    border: 5px solid #219653;
    border-top-color: #21965333;

    .result {
      text-align: center;
      padding-top: 20px;
    }
  }

  .res-waiting {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #e2e9f9;
    border: 5px solid #e2e9f9;

    .result {
      text-align: center;
      padding-top: 20px;
      color: black;
    }
  }

  .res-null {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #eb575733;
    border: 5px solid #eb575733;

    .result {
      text-align: center;
      padding-top: 20px;
    }
  }

  .res-ten {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #21965333;
    border: 5px solid #219653;

    .result {
      text-align: center;
      padding-top: 20px;
    }
  }
}

.result-quote {
  width: 100%;
  height: 90px;
  font-size: 18px;
  text-align: center;
  margin: 30px 0;
  padding-top: 100px;
  font-style: normal;

  .essay-input {
    width: 55%;
    padding-top: 10px;
  }

  .go-back {
    color: var(--primary-color);
    text-decoration: underline;
    cursor: pointer;
    padding-top: 20%;
  }

  .go-back-full-test {
    color: var(--primary-color);
    text-decoration: underline;
    cursor: pointer;
    padding-top: 3%;
  }

  .comments {
    padding-top: 49px;

    .answer {
      width: 55%;
      border: 1px solid #bdbdbd;
    }

    .module-text {
      color: #828282;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      text-align: left;
      margin-left: 23%;
    }
  }
}

.step-test {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 500px;
  justify-items: center;
  align-items: center;
  margin: 0 auto 0 auto;
  padding-top: 8px;
}

@media only screen and (max-width: 800px) {
  .result-body {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    width: 80%;
    height: 250px;
  }

  .result-quote {
    height: 60px;
    font-size: 13px;
  }

  .result-header {
    font-size: 18px;
  }
}
