.result-header {
  width: 100%;
  height: 28px;
  font-size: 24px;
  color: var(--font-color-primary);
  text-align: center;
  margin: 70px auto 0 auto;
}

.result-body {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 500px;
  justify-items: center;
  align-items: center;
  margin: 70px auto 0 auto;

  .res-red-under-five {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #eb575733;
    border: 5px solid #eb575733;
    border-right: 5px solid #eb5757;
    margin-bottom: 15px;
    margin-top: 30px;

    .result {
      text-align: center;
      padding-top: 20px;
    }
  }

  .res-red-five {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #eb575733;
    border: 5px solid #eb575733;
    border-right: 5px solid #eb5757;
    border-bottom: 5px solid #eb5757;
    margin-bottom: 15px;
    margin-top: 30px;

    .result {
      text-align: center;
      padding-top: 20px;
    }
  }

  .res-blue-upper-five {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #21965333;
    border: 5px solid #219653;
    border-top-color: #21965333;
    margin-bottom: 15px;
    margin-top: 30px;

    .result {
      text-align: center;
      padding-top: 20px;
    }
  }

  .res-waiting {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #e2e9f9;
    border: 5px solid #e2e9f9;
    margin-bottom: 15px;
    margin-top: 30px;

    .result {
      text-align: center;
      padding-top: 20px;
      color: black;
    }
  }

  .res-null {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #eb575733;
    border: 5px solid #eb575733;
    margin-bottom: 15px;
    margin-top: 30px;

    .result {
      text-align: center;
      padding-top: 20px;
    }
  }

  .res-ten {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #21965333;
    border: 5px solid #219653;
    margin-bottom: 15px;
    margin-top: 30px;

    .result {
      text-align: center;
      padding-top: 20px;
    }
  }
}

.result-quote {
  width: 100%;
  height: 90px;
  font-size: 18px;
  text-align: center;
  margin-top: 100px;
  font-style: normal;

  .go-back,
  .go-back-full-test {
    color: var(--primary-color);
    cursor: pointer;
    margin-top: 40px;
    padding-bottom: 30px;
  }

  .go-back:hover,
  .go-back-full-test:hover {
    text-decoration: underline;
  }

  .comments {
    margin-top: 45px;

    .answer {
      margin: 0 22%;
      width: 56%;
      height: 92px;
      border: 1px solid #bdbdbd;
      text-align: left;
      color: #828282;
      padding: 5px;
      white-space: pre-line;
    }

    .module-text {
      color: #828282;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      text-align: left;
      margin-left: 23%;
      margin-bottom: 5px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .result-body {
    width: 80%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }

  .result-quote {
    height: 60px;
    font-size: 16px;
  }

  .result-header {
    font-size: 20px;
  }
}
