.wrapper1 {
  width: 100%;
  height: 28px;
  font-size: 24px;
  color: black;
  text-align: center;
  margin: 30px auto;
  padding-top: 40px;
}

.wrapper2 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 500px;
  justify-items: center;
  align-items: center;
  margin: 0 auto 0 auto;
  padding-top: 100px;

  .res {
    height: 100px;
    width: 100px;
    border-radius: 50%;

    .result {
      text-align: center;
      padding-top: 20px;
    }
  }
}

.wrapper3 {
  width: 100%;
  height: 90px;
  font-size: 18px;
  text-align: center;
  margin: 30px 0;
  padding-top: 40px;
  font-style: normal;

  .essay-input {
    width: 55%;
    padding-top: 10px;
  }
}

.array {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 500px;
  justify-items: center;
  align-items: center;
  margin: 0 auto 0 auto;
  padding-top: 8px;
}

@media only screen and (max-width: 800px) {
  .wrapper2 {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    width: 80%;
    height: 250px;
  }

  .wrapper3 {
    height: 60px;
    font-size: 13px;
  }

  .wrapper1 {
    font-size: 18px;
  }
}

