.player{
    margin: 0 auto;
    width: 810px;
    height: 55px;
    background: rgba(62, 109, 215, 0.15);
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
}
.player-button{
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    background-color: none;
    border: none;
    outline: none;
}
.player-time{
    margin-top: 20px;
    font-size: 16px;
    line-height: 19px;
    color: #828282;
    margin-right: 23px;
}
.player-button:hover{
    border-radius: 4px;
    background: rgba(62, 109, 215, 0.05);
}
.progress-container{
    position: relative;
    margin-top: 28px;
    width: 540px;
    margin-right: 60px;
}
.progress{
    width: 540px;
    border: 1px solid #828282;
}

.progress-line{
    position: absolute;
    width: 10%;
    border: 2px solid #3f51b5;
    border-radius: 5px;
}