.hr-modal-deassign {
  width: 440px;
  height: 105px;

  .MuiIconButton-root {
    height: 15px;
  }

  .text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    text-align: left;
    padding-top: 25px;
  }

  .btn {
    height: 27px;
    width: 90px;
    margin-left: 200px;
    margin-right: 20px;
    margin-top: 30px;
  }
}
