.hr-modal {
  width: 500px;
  min-height: 268px;

  .close-icon-wrapper {
    display: block;
    margin-left: auto;
    padding: 0;

    .MuiIconButton-root {
      height: 35px;
    }
  }

  .assign-level {
    font-family: "Roboto", sans-serif;
    height: 30px;
    font-size: 18px;
    text-align: left;
  }

  .level-selector-wrapper {
    margin: 10px auto;
    justify-content: center;

    .level-selector {
      width: 100%;
    }
  }

  .setting-label {
    height: 20px;
    margin-bottom: 0;
  }

  .settings-wrapper {
    display: flex;
    margin: auto;
    justify-content: space-between;

    .setting {
      height: 80px;
      width: 240px;

      .setting-select {
        padding-top: 0;
        width: 100%;
        height: 50%;

        .item {
          height: 30px;
        }
      }

      .settings-date {
        width: 100%;
      }

      input[type="date" i] {
        border: 1px solid var(--secondary-color);
        border-radius: 4px;
        color: var(--font-color-primary);
        background-color: var(--base-color);
        height: 40px;
      }

      ::-webkit-calendar-picker-indicator {
        filter: invert(0.5);
      }
    }
  }

  .assign-button {
    display: flex;
    margin: 20px 5px 0 auto;
  }
}

@media only screen and (max-width: 800px) {
  .modal-content .hr-modal {
    width: 350px;

    .setting {
      margin-left: 2px;
    }
  }
}
