.modal-remove-post {
  width: 440px;
  height: 85px;

  .text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    text-align: left;
    margin-top: 30px;
  }

  .MuiButton-root {
    height: 27px;
    width: 90px;
    margin-left: 330px;
    margin-right: 5px;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 800px) {
  .modal-remove-post {
    width: 460px;

    .text {
      font-size: 11px;
    }

    .MuiButton-root {
      height: 14px;
      width: 45px;
      margin-left: 91%;
      margin-top: 15px;
    }
  }
}
