.modal-content .hr-modal-view-user-info {
  max-width: 1042px;
  min-height: 410px;

  .info {
    display: flex;
    margin-bottom: 20px;

    .info-avatar-wrapper {
      padding-right: 20px;

      .info-avatar {
        width: 80px;
        height: 80px;
      }
    }

    .info-name {
      margin: 0;
    }

    .info-text {
      text-align: left;
    }
  }

  .level-select {
    width: 140px;
    padding: 0 0 20px 0;
  }
}

.item {
  height: 35px;
}
