body {
  .toolbar {
    justify-content: space-around;
  }

  @media screen and (max-width: 1024px) {
    .toolbar {
      justify-content: space-between;
    }
  }

  .sideLeft {
    display: flex;
  }

  .sideRight {
    display: flex;
  }

  .logoText {
    max-width: 160px;
  }

  .logo {
    max-width: 60px;
    min-width: 50px;
  }

  .paper {
    padding: 30px;
    background-color: beige;
  }

  .triangle {
    font-size: 15px;
  }

  .avatar {
    height: 30px;
    width: 30px;
  }

  .modalBtns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .bold {
    font-weight: bold;
  }

  .roleBtns {
    padding: 20px;
  }

  .notifTest {
    padding: 15px 0 0 10px;
  }

  .notifEmpty {
    display: inline-block;
    padding: 10px 0 50px 20px;
  }

  .closeButton {
    position: relative;
    float: right;
  }

  .takeTestBtn {
    width: 30%;
    height: 25px;
    text-transform: none;
  }

  .seemoreBtn {
    float: right;
    margin-right: 10px;
    text-transform: none;
  }

  .list {
    padding: 15px;
    width: 200px;
  }

  .drawer {
    padding: 20px 40px 20px 10px;
  }

  .drawerIcons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .modal {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
