.toolbar-wrapper {
  max-width: 1328px;
  width: 100%;
  margin: 0 auto;

  .toolbar {
    justify-content: space-between;
  }

  .icons-triangle {
    font-size: 15px;
  }

  .toolbar-sideLeft {
    display: flex;

    .roleBtns {
      text-transform: none;
      font-size: 15px;
      padding: 20px;
    }
  }

  .toolbar-sideRight {
    display: flex;
  }

  .avatarHeader {
    border: 2px solid;
    height: 30px;
    width: 30px;
  }

  .logo-text-wrapper {
    display: flex;
    padding: 5px 20px 0 0;
    height: 60px;
    text-decoration: none;
  }

  .logo-text {
    height: 90%;
    text-align: left;
    margin: 10px 20px 0 20px;
  }

  .logo {
    max-width: 50px;
    min-width: 10px;
  }

  .logo-wrapper-small {
    display: flex;
    padding: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .toolbar {
    justify-content: space-between;
  }
}

.drawer {
  padding: 15px;
  max-width: 200px;
  box-sizing: unset;

  .drawerSplit {
    padding: 20px 0 20px 5px;
  }

  .drawerIcons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 20px;
  }

  .drawerButtons {
    display: block;
    margin: 0 auto 0 0;
  }

  .avatarDrawer {
    border: 1px solid;
    height: 25px;
    width: 25px;
  }
}

.notifications-dropdown-menu {
  .notifications-test {
    padding: 10px;

    .closeButton {
      position: relative;
      float: right;
      padding: 0;
    }
  }

  .notifications-empty {
    display: inline-block;
    padding: 10px 0 50px 20px;
  }

  .notifications-takeTestBtn {
    height: 25px;
    margin-top: 5px;
  }

  .notifications-seemoreBtn {
    height: 25px;
  }
}

.paper {
  padding: 20px;

  .text-logout {
    font-weight: 400;
    padding-right: 100px;
    margin-bottom: 30px;
  }
}

.modalBtns {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0;

  .btn-unit {
    margin-left: 10px;
    height: 30px;
  }
}
