.modifyTest {
  margin: 10px 0;

  .module-buttons-wrapper {
    display: flex;
    justify-content: space-between;

    .module-buttons {
      width: 200px;
      margin: 30px 0;
    }
  }

  @media screen and (max-width: 430px) {
    .module-buttons-wrapper {
      display: block;

      .module-buttons {
        display: flex;
        margin: 20px auto;
        width: 50%;
      }
    }
  }

  .form-control-wrapper {
    display: flex;
    text-align: left;

    .form-control {
      width: 210px;
      margin-right: 10px;
    }

    @media screen and (max-width: 430px) {
      flex-wrap: wrap;
      justify-content: center;

      .form-control {
        margin: 5px;
      }
    }
  }
}
