.listening-step {
  .audio {
    width: 66%;
    margin: 22px 16.9% 5px 16.9%;
  }

  .number {
    font-size: 24px;
    font-weight: 500;
  }

  .sentence {
    font-size: 18px;
    font-weight: 400;
  }

  .option {
    padding-top: 13px;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
  }

  .step-description.grammar {
    display: none;
  }

  @media only screen and (max-width: 800px) {
    .audio {
      width: 90%;
      margin: 22px 5% 5px 5%;
    }
  }
}
