.modal-warning-archive-wrapper {
  width: 440px;
  padding: 0;
  height: 150px;

  .text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
  }

  .player-modal {
    background-color: white;
    margin-top: 20px;
  }

  .btn {
    padding-top: 30px;
    padding-left: 75%;
  }
}
