.edit-tests-search-form {
  display: flex;
  text-align: left;

  .edit-tests-search-level {
    width: 210px;
    margin-right: 15px;
  }

  .edit-tests-search-module {
    width: 210px;
    margin-right: 10px;
  }

  .btn-search {
    width: 120px;
    height: 40px;
    margin-left: 15px;
  }
}

.edit-tests-option {
  margin: 10px;
  cursor: pointer;
}
