.player {
  position: relative;
  margin: 0 auto;
  height: 55px;
  background: rgba(62, 109, 215, 0.15);
  border-radius: 4px;
  display: flex;
  align-items: flex-start;

  .player-button {
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    background-color: rgba(62, 109, 215, 0);
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .player-time {
    margin-top: 20px;
    font-size: 16px;
    line-height: 19px;
    white-space: nowrap;
  }

  .player-button:hover {
    border-radius: 4px;
    background-color: rgba(62, 109, 215, 0.05);
  }

  .player-button:active {
    border-radius: 4px;
    background-color: rgba(62, 109, 215, 0.1);
  }

  .progress-container {
    position: relative;
    margin: 28px 10px 0 20px;
    height: 1px;
    width: 74%;
    cursor: pointer;
  }

  .progress {
    width: 100%;
    border: 2px solid;
  }

  .progress-line {
    position: absolute;
    width: 10%;
    border: 2px solid;
    border-radius: 5px;
    max-width: 100%;
  }

  .invisible {
    display: none;
  }

  .volume-changer {
    position: absolute;
    right: 8px;
    box-shadow: 0 4px 15px rgba(11, 36, 92, 0.15);
    width: 33px;
    height: 97px;
    bottom: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .volume-range {
    width: 87px;
    margin: 0 auto;
    transform: rotate(-90deg);
  }

  .volume-range[type="range"] {
    -webkit-appearance: none;
    background-color: #e0e0e0;
  }

  .volume-range[type="range"]::-webkit-slider-runnable-track {
    height: 10px;
    overflow: hidden;
    -webkit-appearance: none;
    color: #828282;
    margin-top: -1px;
  }

  .action {
    cursor: pointer;
  }

  .volume-range[type="range"]::-webkit-slider-thumb {
    width: 15px;
    -webkit-appearance: none;
    height: 15px;
    cursor: row-resize;
    background-color: #434343;
    box-shadow: -80px 0 0 80px #828282;
  }

  .volume-range[type="range"]::-moz-range-progress {
    background-color: #828282;
  }

  .volume-range[type="range"]::-moz-range-track {
    background-color: #e0e0e0;
  }

  .volume-range[type="range"]::-ms-fill-lower {
    background-color: #828282;
  }

  .volume-range[type="range"]::-ms-fill-upper {
    background-color: #e0e0e0;
  }

  .icons-color-secondory {
    fill: #828282;
  }

  .icons-color-primary {
    cursor: pointer;
  }
}
