.modal-warning-passing-test {
  width: 500px;
  height: 160px;

  .warning-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    padding-left: 4%;
  }

  .MuiButton-root {
    height: 27px;
    width: 90px;
    margin-left: 337px;
    margin-right: 5px;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 800px) {
  .modal-warning-passing-test {
    width: 350px;

    .warning-text {
      font-size: 12px;
    }

    .MuiButton-root {
      height: 13px;
      width: 45px;
      margin-left: 90%;
      margin-top: 13px;
    }
  }
}

