.microphone img {
  width: 60px;
  padding-bottom: 40px;
  cursor: pointer;
}

.speaking-topic {
  font-size: 24px;
  padding-top: 15px;
  padding-bottom: 68px;
}

.invisible-button {
  display: none;
}

.audio-speaking-timer{
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 9px;
}
