.microphone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 60px;
  background-color: #3E6DD7;
  border-radius: 50%;
  cursor: pointer;
}

.off {
  background-color: #D7463E;
}

.speaking-topic {
  font-size: 24px;
  padding-top: 15px;
  padding-bottom: 68px;
}

.invisible-button {
  display: none;
}

.audio-speaking-timer{
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 9px;
}

.microphone-item{
  fill: #fff;
  margin: 0 auto;
}
