.modal-remove {
  width: 440px;
  height: 105px;

  .close-icon-wrapper {
    display: block;
    margin-left: 95%;
    padding: 0;

    .MuiIconButton-root {
      height: 15px;

      .close-icon {
        width: 15px;
        height: 15px;
        cursor: pointer;
      }
    }
  }

  .text-modal {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    text-align: left;
    padding-top: 25px;
  }

  .MuiButton-root {
    height: 27px;
    width: 90px;
    margin-left: 330px;
    margin-right: 5px;
    margin-top: 30px;
  }
}
