.body404 {
  height: 50vh;
  width: 100vw;
}

.block404 {
  height: 50vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text404 {
  position: absolute;
  bottom: 0;
  font-size: 340px;
  color: #3e6dd7;
  width: 30vw;
  border-radius: 12px;
  background-color: white;
  display: flex;
  justify-content: center;
}

.logo404 {
  display: block;
  margin: auto;
  width: 270px;
  height: 270px;
}

.caption404 {
  color: #fe873c;
  text-align: center;
}

.button404 {
  display: flex;
  align-items: center;
  justify-content: center;
}
