.report-mistake-modal {
  width: 949px;

  .close-icon-wrapper {
    display: block;
    margin-left: auto;
    padding: 0;

    .MuiIconButton-root {
      height: 35px;
    }
  }

  .report-header {
    font-size: 18px;
    text-align: center;
  }

  .level-module-info {
    font-size: 16px;
    margin-left: 5%;
    margin-top: 30px;

    .level-info {
      margin-right: 2%;
    }
  }

  .scroll-container {
    max-height: 500px;
    height: auto;
    overflow-y: hidden;
    overflow-x: hidden;

    .selector-wrapper {
      margin-top: 10px;


      .question-selector {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
      }
    }

    .add-question-to-report {
      margin-left: 5%;
      margin-top: 10px;
      font-size: 14px;
      cursor: pointer;
    }

    .add-question-to-report.invisible {
      display: none;
    }

    .add-question-to-report:hover {
      text-decoration: underline;
    }

  }

  .scroll-container.visible {
    overflow-y: scroll;
  }


  .topic-wrapper {
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    margin: 10px 5% 20px 5%;
    height: 35px;

    .topic {
      width: 90%;
      margin: 8px 15px;
    }
  }

  .report-textfield-wrapper {
    margin-left: 5%;
    margin-bottom: 20px;
    margin-top: 20px;


    .report-textfield {
      width: 95%;

      .report-textfield-label {
        font-size: 14px;
      }
    }
  }

  .report-mistake-buttons-wrapper {
    margin-left: 70%;
    margin-right: 5%;
    margin-bottom: 30px;

    display: flex;
    justify-content: space-between;
    height: 30px;

    .delete-button,
    .report-button {
      width: 110px;
      box-shadow: none;
    }
  }
}

@media only screen and (max-width: 800px) {
  .report-mistake-modal {
    width: 360px;
    height: 345px;

    .MuiIconButton-root {
      height: 20px;

      .close-icon {
        left: 330px;
        width: 20px;
        height: 20px;
      }
    }

    .report-header {
      font-size: 16px;
    }

    .level-module-info {
      font-size: 12px;
      margin-left: 5%;
      margin-top: 15px;
      margin-bottom: 2px;
      padding-bottom: 3px;
    }

    .add-question-to-report {
      font-size: 13px;
      margin-bottom: 10px;
    }

    .topic-wrapper {
      margin-top: 10px;
      margin-bottom: 40px;
      height: 35px;

      .topic {
        width: 90%;
        margin: 8px 30px;
      }
    }

    .report-textfield-wrapper {
      margin-left: 5%;
      margin-bottom: 10px;

      .report-textfield {
        .report-textfield-label {
          font-size: 10px;
        }
      }
    }

    .report-mistake-buttons-wrapper {
      margin-left: 50%;
      margin-right: 5%;
      height: 30px;
      font-size: 10px;

      .delete-button,
      .report-button {
        width: 40px;
      }
    }
  }
}
