.report-mistake-modal {
  width: 949px;
  height: auto;

  .close-icon-wrapper {
    position: relative;
    display: block;
    margin-left: 895px;

    .MuiIconButton-root {
      height: 35px;

      .close-icon {
        position: absolute;
        bottom: 0;
        width: 25px;
        height: 25px;
        cursor: pointer;
      }
    }
  }

  .report-header {
    font-size: 18px;
    text-align: center;
  }

  .level-module-info {
    font-size: 16px;
    color: #828282;
    margin-left: 5%;
    margin-top: 30px;
    margin-bottom: 10px;

    .level-info {
      margin-right: 2%;
    }
  }

  .topic-wrapper {
    border: 1px solid #828282;
    border-radius: 4px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 46px;
    height: 35px;

    .topic {
      width: 90%;
      margin: 8px 30px;
    }
  }

  .selector-wrapper {
    .question-selector {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
    }
  }

  .add-question-to-report {
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #828282;
    cursor: pointer;
  }

  .add-question-to-report:hover {
    text-decoration: underline;
  }

  .report-textfield-wrapper {
    margin-left: 5%;
    margin-bottom: 20px;

    .report-textfield {
      width: 95%;

      .report-textfield-label {
        color: #828282;
        font-size: 14px;
      }
    }
  }

  .report-mistake-buttons-wrapper {
    margin-left: 70%;
    margin-right: 5%;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    height: 30px;

    .delete-button,
    .report-button {
      width: 110px;
      box-shadow: none;
    }
  }
}

@media only screen and (max-width: 800px) {
  .report-mistake-modal {
    width: 360px;
    height: 345px;

    .MuiIconButton-root {
      height: 20px;

      .close-icon {
        left: 330px;
        width: 20px;
        height: 20px;
      }
    }

    .report-header {
      font-size: 16px;
    }

    .level-module-info {
      font-size: 12px;
      margin-left: 5%;
      margin-top: 15px;
      margin-bottom: 2px;
      padding-bottom: 3px;
    }

    .add-question-to-report {
      font-size: 13px;
      margin-bottom: 10px;
    }

    .topic-wrapper {
      margin-top: 10px;
      margin-bottom: 40px;
      height: 35px;

      .topic {
        width: 90%;
        margin: 8px 30px;
      }
    }

    .report-textfield-wrapper {
      margin-left: 5%;
      margin-bottom: 10px;

      .report-textfield {
        .report-textfield-label {
          font-size: 10px;
        }
      }
    }

    .report-mistake-buttons-wrapper {
      margin-left: 50%;
      margin-right: 5%;
      height: 30px;
      font-size: 10px;

      .delete-button,
      .report-button {
        width: 40px;
      }
    }
  }
}
