.edit-tests-search-form {
  display: flex;
  text-align: left;

  .edit-tests-search-level,
  .edit-tests-search-module {
    width: 210px;
    margin-right: 10px;
  }

  .edit-tests-search-id {
    max-width: 210px;
  }

  .btn-search {
    height: 40px;
    margin-left: 15px;
  }

  @media screen and (max-width: 380px) {
    flex-wrap: wrap;
    justify-content: center;

    .edit-tests-search-level,
    .edit-tests-search-module,
    .edit-tests-search-id {
      margin: 5px;
    }

    .btn-search {
      width: 210px;
      margin: 5px 0;
    }
  }
}

.edit-tests-option {
  margin: 10px;
  cursor: pointer;
}

.edit-tests-option-none {
  font-style: italic;
}

.item {
  height: 35px;
}
