.grammar-step {
  .test-question {
    padding-top: 30px;
    padding-bottom: 8px;
    text-align: left;

    .number {
      font-size: 24px;
      font-weight: 500;
    }

    .sentence {
      font-size: 18px;
      font-weight: 400;
    }
  }

  .test-question-option {
    padding-top: 13px;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
  }

  .question-answer {
    cursor: pointer;
  }
}
