.test-page {
  .test-navigation-wrapper {
    width: 100%;
    margin: 0 auto;
    height: 90px;

    .test-navigation-wrapper :last-child {
      margin-right: 0;
    }

    .test-step {
      float: left;
      line-height: 100%;
      font-size: 24px;
      width: 20%;
      text-align: center;
      border-bottom: #e2e9f9 solid 2px;
      padding-bottom: 13px;
      padding-top: 40px;
      margin-bottom: 40px;
      cursor: pointer;
    }

    .test-step.active {
      border-bottom: #3e6dd7 solid 5px;
    }

    .test-step.time {
      border: none;
      font-size: 36px;
    }

    @media only screen and (max-width: 800px) {
      .test-step {
        font-size: 10px;
      }

      .test-step.time {
        border: none;
        font-size: 10px;
      }
    }
  }

  .test-task-wrapper {
    .step-description {
      display: inline-block;
      font-size: 18px;
      color: #828282;
      padding-bottom: 5px;
      text-align: center;
    }
  }

  .buttons-wrapper {
    width: 100%;
    margin: 0 auto;
    height: 300px;
    padding-top: 40px;

    .buttons-wrapper :last-child {
      margin-right: 0;
    }

    .step-navigation-buttons {
      display: flex;
      justify-content: space-between;

      .previous-step-button,
      .next-step-button {
        float: left;
        line-height: 100%;
        height: 35px;
      }

      @media only screen and (max-width: 800px) {
        .previous-step-button,
        .next-step-button {
          width: 20%;
          font-size: 9px;
        }
      }

      .previous-step-button.invisible,
      .next-step-button.invisible {
        visibility: hidden;
      }
    }

    .submit-button-wrapper {
      justify-content: center;

      .submit-button {
        margin-top: 48px;
        height: 40px;
        align-content: center;
        box-shadow: none;
      }

      @media only screen and (max-width: 800px) {
        .submit-button {
          width: 25%;
          font-size: 9px;
        }
      }
    }
  }
}
