.modal-remove {
  width: 440px;
  height: 105px;

  .close-icon-wrapper {
    display: block;
    margin-left: 95%;

    .MuiIconButton-root {
      height: 15px;

      .close-icon {
        width: 15px;
        height: 15px;
        cursor: pointer;
      }
    }
  }

  .text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    text-align: left;
    padding-top: 25px;
  }
}
